*{
    box-sizing: border-box;
    margin: 0;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.flex{
    display: flex;
}
.side-bar{
    width: 250px;
    height: calc(100vh - 100px);
    position: fixed;
    background-color: black;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: #A3A3A3;
}
footer{
    height: 100px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #282828;
}
.main-content{
    height: 200vh;
    flex-grow: 1;
    overflow: auto;
    background-color: #141922;
}
header{
    height: 100px;
    width: calc(100% - 250px);
    position: fixed;
    right: 0;
    background-color: #080B12;
    opacity: 0.7;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}
.logo-big{
    width: 200px;
    margin-bottom: 30px;
}
.logo-small{
    margin-bottom: 20px;
    position: fixed;
    z-index: 2;
}
.icon-medium{
    font-size: 25px;
}
.select-menu{
    font-size: 20px;
    margin-bottom: 15px;
    align-items: center;
}
.m-right{
    margin-right: 7px;
}
.side-bar a{
    text-decoration: none;
    color: #A3A3A3;
}
.playlist{
    margin-top: 30px;
}
.playlist h3{
    color: white;
    margin-bottom: 10px;
}
.new-playlist{
    font-size: 15px;
    line-height: 35px;
    margin-top: 15px;
    flex-direction: column;
}
.account{
    position: fixed;
    z-index: 1;
    bottom: 100px;
    background-color: black;
}
.hr{
    width: 190px;
    height: 2px;
    border-bottom: #A3A3A3 solid;
    margin-bottom: 15px;
}
.white{
    color: white;
}
.none{
    display: none;
}
.button-header{
    background-color: transparent;
    color: white;
    border: solid white;
    padding: 15px 40px;
    border-radius: 20px;
}






















/* ANIMATIONS */
.select-menu:hover{
    color: white;
}
.side-bar a:hover{
    color: white;
}
.button-header:hover{
    transition-property: all;
    transition-duration: 0.5s;
    transform: scale(1.1);
  }
  



























































/* MOBILE */

@media screen and (max-width: 568px){
    .side-bar{
        width: 70px;
    }
    header{
        width: calc(100% - 70px);
    }
    .side-bar a{
        display: none;
    }
    .side-bar h3{
        display: none;
    }
    .side-bar .hr{
        display: none;
    }
    .logo-big{
        display: none;
    }
    .none{
        display: block;
    }
}