*{
    box-sizing: border-box;
    margin: 0;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.flex{
    display: flex;
}
img{
    max-width: 100%;
}
.side-bar{
    width: 250px;
    height: calc(100vh - 100px);
    position: fixed;
    background-color: black;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: #A3A3A3;
}
footer{
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 10;
    bottom: 0;
    background-color: #282828;
    justify-content: space-between;
    align-items: center;
}
.main-content{
    flex-grow: 1;
    overflow: auto;
    background-color: #141922;
}
header{
    height: 100px;
    width: calc(100% - 250px);
    position: fixed;
    z-index: 9;
    right: 0;
    background-color: #080B12;
    opacity: 0.7;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}
.logo-big{
    width: 200px;
    margin-bottom: 30px;
}
.logo-small{
    margin-bottom: 20px;
}
.icon-medium{
    font-size: 25px;
    color: #A3A3A3;
}
.select-menu{
    font-size: 20px;
    margin-bottom: 15px;
    align-items: center;
}
.m-right{
    margin-right: 7px;
}
.side-bar a{
    text-decoration: none;
    color: #A3A3A3;
}
.playlist{
    margin-top: 30px;
}
.playlist h3{
    color: white;
    margin-bottom: 10px;
}
.new-playlist{
    font-size: 15px;
    line-height: 30px;
    margin-top: 15px;
    flex-direction: column;
}
.account{
    position: absolute;
    background-color: black;
    padding: 20px 0;
}
.hr{
    width: 190px;
    height: 2px;
    border-bottom: #A3A3A3 solid;
    margin-bottom: 15px;
}
.white{
    color: white;
}
.none{
    display: none;
}
.button-header{
    background-color: transparent;
    color: white;
    border: solid white;
    padding: 15px 40px;
    border-radius: 20px;
}
.side-footer{
    width: 25%;
    height: 100px;
}
.center-footer{
    width: 50%;
    height: 100px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.left-side-footer{
    width: 50%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
}
.left-side-footer-2{
    width: 50%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    padding-left: 25px;
}
.left-side-footer img{
    width: 60px;
}
.gray{
    color: #6D6D6D;
}
.size-small{
    font-size: 13px;
}
.white-part{
    height: 4px;
    width: 25px;
    background-color: white;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.right-side-footer{
    height: 100px;
    width: 100%;justify-content: flex-end;
    align-items: center;
    padding-right: 25px;
    color: white;
}
.gray-part{
    height: 4px;
    width: 75px;
    background-color: #A3A3A3;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
.m-right-2{
    margin-right: 20px;
}
.up-center{
    color: white;
    justify-content: center;
    align-items: center;
}
.down-center{
    color: white;
    justify-content: center;
    align-items: center;
}
.white-part-big{
    height: 7px;
    width: 15vw;
    min-width: 40px;
    background-color: white;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    margin-left: 50px;
    justify-content: flex-end;
    align-items: center;
}
.gray-part-big{
    height: 7px;
    width: 60%;
    min-width: 80px;
    background-color: #A3A3A3;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    margin-right: 50px;
}
.under-header{
    margin-top: 100px;
    margin-left: 250px;
    margin-bottom: 100px;
    width: calc(100% - 250px);
    height: calc(100% - 200px);
}
.menu{
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}
.menu a{
    text-decoration: none;
    color: #6D6D6D;
    margin-right: 20px;
}
.pad{
    padding: 1rem;
}
.title{
    width: 100%;
    padding-left: 1rem;
}
.recent-played{
    width: 100%;
    flex-wrap: wrap;
}
.card{
    width: calc(100% / 6);   
    padding: 1rem;
    text-align: center;
    position: relative;
    flex-direction: column;
}
.card h3{
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
}
.card span{
    color: #A3A3A3;
}
.card img{
    position: relative;
    z-index: 2;
}
.icon-on-song{
    position: absolute;
    color: white;
    font-size: 50px;
    z-index: 1;
    right: calc(50% - 50px);
    left: calc(50% - 50px);
    top: 25%;
}

.circle{
    width: 200px;
    aspect-ratio: 1;
    border-radius:999em;   
    -moz-border-radius:999em; 
    -webkit-border-radius:999em;
    -o-border-radius: 999em;
}
.point{
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
    display: none;
}

























/* ANIMATIONS */
.select-menu a:hover{
    color: white;
}
.select-menu i:hover{
    color: white;
}
.side-bar a:hover{
    color: white;
}
.menu a:hover{
    color: white;
}
.button-header:hover{
    transition-property: all;
    transition-duration: 0.5s;
    transform: scale(1.1);
  }
  .left-side-footer-2 i:hover{
    color: white;
}
.card img:hover{
    z-index: 0;
    filter: brightness(50%);
}
.white-part:hover{
    background-color: greenyellow;
}
.white-part-big:hover{
    background-color: greenyellow;
}




























/* DESKTOP */



@media screen and (max-width: 1200px){
    .card{
        width: calc(100% / 4);
    }
}



/* MEDIUM */

@media screen and (max-width: 990px){
    .card{
        width: calc(100% / 2);
    }
}


/* SMALL */


@media screen and (max-width: 768px){
    .left-side-footer-2{
        display: none;
    }
    .white-part,.gray-part{
        display: none;
    }
}
/* MOBILE */

@media screen and (max-width: 576px){
    .side-bar{
        width: 70px;
    }
    header{
        width: calc(100% - 70px);
    }
    .side-bar a{
        display: none;
    }
    .side-bar h3{
        display: none;
    }
    .side-bar .hr{
        display: none;
    }
    .logo-big{
        display: none;
    }
    .none{
        display: block;
    }
    .side-footer{
        display: none;
    }
    .center-footer{
        width: 150px;
    }
    footer{
        justify-content: center;
        align-items: center;
    }
    .under-header{
        width: calc(100% - 70px);
        right: 180px;
        position: relative;
    }
}





















































